{{!-- <div class="alert alert-primary fade show text-center rounded-0 mb-0" role="alert">
    <h5 class="d-inline"><span class="badge badge-primary"><i class="fa fa-arrow-right"></i></span></h5>
	<a style="color:black" href="https://enigmatic-escarpment-16941.herokuapp.com/">Stagione <strong>18/19</strong></a>
</div> --}}
<!-- Footer -->

<footer>
    <div class="container d-flex h-100">
    <p class="m-0 w-100 align-self-center text-center text-white">Copyright &copy; Santi Apostoli 2023</p>
    </div>
</footer>
