<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-0">
  <div class="container">
    <a class="navbar-brand d-flex" href="/">
      <img id="logo" style="width: 64px;" src="/icons/og/transparent-bg.png" alt="Santi Apostoli Logo">
      <span class="d-sm-none my-auto">S. Apostoli</span>
      <span class="d-none d-sm-inline my-auto">Santi Apostoli</span>
      <span class="subtitle d-none d-sm-inline my-auto pl-1">Pietro e Paolo</span>
    </a>

    <!-- Collapse navbar button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link {{#if active_home}}active{{/if}}" href="/">Home</a>
        </li>           

        {{!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{#if active_u14}}active{{/if}}" data-toggle="dropdown" href="#">Under 14</a>
          <div class="dropdown-menu mb-3">
            <h6 class="dropdown-header">Invernale</h6>
            <a class="dropdown-item" href="/inv/u14/va05">VA05</a>
            <a class="dropdown-item" href="/inv/u14/va06"><strong>VA06</strong></a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Primaverile</h6>
            <a class="dropdown-item" href="/prim/u14/va08"><strong>VA08</strong></a>
          </div>
        </li> --}}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{#if active_libera_f}}active{{/if}}" data-toggle="dropdown" href="#">Libera Femminile</a>
          <div class="dropdown-menu mb-3">
            <h6 class="dropdown-header">Invernale</h6>
            <a class="dropdown-item" href="/inv/libera-f/va12"><strong>VA12</strong></a>
            <a class="dropdown-item" href="/inv/libera-f/va13"><strong>VA13</strong></a>
            {{!-- <a class="dropdown-item" href="/inv/libera-f/va14">VA14</a>
            <a class="dropdown-item" href="/inv/libera-f/va15">VA15</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Primaverile</h6>
            <a class="dropdown-item" href="/prim/libera-f/va18"><strong>VA18</strong></a> --}}
          </div>
        </li>
        
        <li class="nav-item dropdown mb-2 mb-lg-0">
          <a class="nav-link dropdown-toggle {{#if active_libera}}active{{/if}}" data-toggle="dropdown" href="#">Libera Mista</a>
          <div class="dropdown-menu mb-3">
            <h6 class="dropdown-header">Invernale</h6>
            <a class="dropdown-item" href="/inv/libera-mista/va17"><strong>VA17</strong></a>
            {{!-- <a class="dropdown-item" href="/inv/libera-mista/va17">VA17</a>
            <a class="dropdown-item" href="/inv/libera-mista/va18">VA18</a> --}}
            {{!-- <div class="dropdown-divider"></div> --}}
            {{!-- <h6 class="dropdown-header">Primaverile</h6>
            <a class="dropdown-item" href="/prim/libera-mista/va19">VA19</a>
            <a class="dropdown-item" href="/prim/libera-mista/va20"><strong>VA20</strong></a>
            <a class="dropdown-item" href="/prim/libera-mista/va21">VA21</a> --}}
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>