<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-0">
  <div class="container">
    <a class="navbar-brand d-flex" href="/">
      <img id="logo" style="width: 64px;" src="/icons/og/transparent-bg.png" alt="Santi Apostoli Logo">
      <span class="d-sm-none my-auto">S. Apostoli</span>
      <span class="d-none d-sm-inline my-auto">Santi Apostoli</span>
      <span class="subtitle d-none d-sm-inline my-auto pl-1">Pietro e Paolo</span>
    </a>

    <!-- Collapse navbar button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link {{#if active_home}}active{{/if}}" href="/">Home</a>
        </li>           
        <li class="nav-item">
          <a class="nav-link {{#if active_u13}}active{{/if}}" href="/inv/u13/va02">Under 13</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{#if active_u20}}active{{/if}}" data-toggle="dropdown" href="#">Under 20</a>
          <div class="dropdown-menu mb-3">
            <h6 class="dropdown-header">Invernale</h6>
            <a class="dropdown-item" href="/inv/u20/va09"><strong>VA09</strong></a>
            <a class="dropdown-item" href="/inv/u20/va10">VA10</a>
          </div>
        </li>
        {{!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{#if active_u14}}active{{/if}}" data-toggle="dropdown" href="#">Under 14</a>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">Invernale</h6>
            <a class="dropdown-item" href="/inv/u14/va06"><strong>VA06</strong></a>
            <a class="dropdown-item" href="/inv/u14/va07">VA07</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{#if active_u18}}active{{/if}}" data-toggle="dropdown" href="#">Under 18</a>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">Invernale</h6>
            <a class="dropdown-item" href="/inv/u18/va11"><strong>VA11</strong></a>
            <a class="dropdown-item" href="/inv/u18/va12">VA12</a>
            <a class="dropdown-item" href="/inv/u18/va13">VA13</a>
          </div>
        </li> --}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{#if active_libera_f}}active{{/if}}" data-toggle="dropdown" href="#">Libera Femminile</a>
          <div class="dropdown-menu mb-3">
            <h6 class="dropdown-header">Invernale</h6>
            <a class="dropdown-item" href="/inv/libera-f/va11"><strong>VA11</strong></a>
            <a class="dropdown-item" href="/inv/libera-f/va12">VA12</a>
            {{!-- <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Primaverile</h6>
            <a class="dropdown-item" href="/prim/libera-f/va17"><strong>VA17</strong></a>
            <a class="dropdown-item" href="/prim/libera-f/va18">VA18</a>
            <a class="dropdown-item" href="/prim/libera-f/va19">VA19</a> --}}
          </div>
        </li>
        <li class="nav-item dropdown mb-2 mb-lg-0">
          <a class="nav-link dropdown-toggle {{#if active_libera}}active{{/if}}" data-toggle="dropdown" href="#">Libera Mista</a>
          <div class="dropdown-menu mb-3">
            <h6 class="dropdown-header">Invernale</h6>
            <a class="dropdown-item" href="/inv/libera-mista/va13">VA13</a>
            <a class="dropdown-item" href="/inv/libera-mista/va14">VA14</a>
            <a class="dropdown-item" href="/inv/libera-mista/va15"><strong>VA15</strong></a>
            {{!-- <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Primaverile</h6>
            <a class="dropdown-item" href="/prim/libera-mista/va17"><strong>VA17</strong></a>
            <a class="dropdown-item" href="/prim/libera-mista/va18">VA18</a>
            <a class="dropdown-item" href="/prim/libera-mista/va19">VA19</a> --}}
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>