<div class="container">
    <div class="jumbotron my-5 center">
        <h1 class="display-4">Pannello di gestione</h1>
        <p class="lead">Pannello di gestione degli atleti</p>
        <hr class="my-4">
        <p class="lead">
            <div class="container">
                <a href="/atleti" class="btn btn-primary">Vedi atleti</a>
                <a href="/atleti/add" class="btn btn-success">Aggiungi atleta</a>
            </div>
        </p>
    </div>
</div>